{% extends 'basic.html' %}
{% block title %}Add Branch{% endblock %}
{% block body %}
<div class="header" align="center">
    <div>
        <p align="center"> Administrator </p>
    </div>
    <div class="logout">
        <button onclick="window.location.href='/logout/'">Logout</button>
    </div>
    <div class="change_password">
        <button onclick="window.location.href='/change_password/'">Change Password</button>
    </div>
</div>
<div class="main">
    <div align="center" class="form">
        <form action="{% url 'add_branch' %}" method="post">{% csrf_token %}
            <table cellpadding="10">
                <thead>
                <tr>
                    <th colspan="2"> Add New Branch</th>
                </tr>
                </thead>
                <tr>
                    <td>Branch Name</td>
                    <td>{{form.branch_name}} {{form.branch_name.errors}}</td>
                </tr>
                <tr>
                    <td>Branch Code</td>
                    <td>{{form.branch_code}} {{form.branch_code.errors}}</td>
                </tr>
                <tr>
                    <td align="center" colspan="2">
                        <input type="submit" value="Submit" class="button-blue">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
{% endblock %}